Pillow>=10.0.1
pycryptodome>=3.19.1
Requests>2.31.0
protobuf>6
sv_ttk
pyinstaller
chlorophyll
future
pip>=25.3
Pygments
zstandard
asn1crypto
lxml
wmi; sys_platform == 'win32'
six
httpx
cryptography
toml
lz4
python-lzo; sys_platform == 'linux'
configparser