Pillow>=10.0.1
pycryptodome>=3.19.1
Requests>2.31.0
protobuf>7
sv_ttk
pyinstaller
chlorophyll
future>1.0.0
pip>=25.3
Pygments
zstandard
asn1crypto
lxml
wmi; sys_platform == 'win32'
six
httpx
cryptography>=46.0.5
toml
lz4
python-lzo; sys_platform == 'linux'
configparser